{% extends "app/base.html" %}
{% load static %}

{% block contenido %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2 bgded" style="background-image:url('{% static 'images/demo/backgrounds/01.png' %}');">
  <div class="overlay">
    <section id="pageintro" class="clear"> 
      <!-- ################################################################################################ -->
      <div class="center btmspace-80">
        <h2 class="heading xxl uppercase btmspace-30">Ultricies convallis</h2>
        <p class="xl nospace capitalise">Aenean et cursus adipiscing</p>
      </div>
      <ul class="nospace group services" id="servicios">
        
        {% for product in productos %}
        <li class="one_third">
          <article class="overlay"><a href="#"><i class="fa fa-laptop"></i></a>
            <h6 class="heading"> {{ product.nombre }}</h6>
            <p> {{ product.descripcion }} </p>
            <footer><a href="{{ product.enlace }}">Read More &raquo;</a></footer>
          </article>
        </li>
        {% endfor %}
        
      </ul>
      <!-- ################################################################################################ -->
    </section>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="group">
      <div class="one_third first"><img src="{% static 'images/demo/460x700.png' %}" alt=""></div>
      <div class="two_third">
        <h2 class="heading">Etiam finibus tempus felis eget ullamcorper</h2>
        <p>Cras pellentesque neque, consectetur adipiscing elit. Fusce venenatis elit ac ligula euismod varius. Maecenas feugiat purus quam, vel aliquet tellus sodales eu. Integer vitae vestibulum turpis, in sollicitudin quam. Aliquam vulputate non felis non luctus. Vestibulum eget augue nulla. Aliquam dignissim nibh mi, ut bibendum quam dapibus eget. Nam nec nisi vel sapien pulvinar ultrices. Curabitur rutrum nisl sagittis, pretium velit eget, convallis lacus. Nulla fermentum nulla ut lacus maximus, ut porttitor neque varius. Nullam sed vulputate sem. Sed bibendum porttitor metus.</p>
        <p class="btmspace-80">Donec lacinia lacus eros, nec luctus odio bibendum dictum. Vivamus nec egestas libero, non faucibus mauris. In in efficitur felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc porttitor turpis in ex porttitor, nec sagittis diam ultrices.</p>
        <ul class="nospace group">
          <li class="one_third first">
            <h6 class="nospace btmspace-10"><a href="#"><i class="fa fa-location-arrow"></i> Praesent neque</a></h6>
            <p class="nospace">Mauris consectetur vel tellus quis consectetur&hellip;</p>
          </li>
          <li class="one_third">
            <h6 class="nospace btmspace-10"><a href="#"><i class="fa fa-lock"></i> Integer tinciduntt</a></h6>
            <p class="nospace">Mauris consectetur vel tellus quis consectetur&hellip;</p>
          </li>
          <li class="one_third last">
            <h6 class="nospace btmspace-10"><a href="#"><i class="fa fa-map-marker"></i> Aliquam mauris</a></h6>
            <p class="nospace">Mauris consectetur vel tellus quis consectetur&hellip;</p>
          </li>
        </ul>
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <section id="info" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h2 class="heading uppercase btmspace-30">Curabitur eget elit sit amet purus congue</h2>
      <p class="lrspace">Aenean semper elementum tellus, ut placerat leo. Quisque vehicula, urna sit amet pulvinar dapibus, dui leo egestas augue, eget molestie augue diam nec ante. Fusce quis feugiat urna. Curabitur a sapien tincidunt, ullamcorper mauris sit amet, ornare augue. Suspendisse potenti. Sed eget ultricies sem. Proin quis lacus egestas, adipiscing nunc ornare, gravida diam. Donec luctus convallis rhoncus.</p>
    </div>
    <div class="group">
      <div class="one_half first"><img src="{% static 'images/demo/600x700.png' %}" alt=""></div>
      <div class="one_half">
        <ul class="nospace group services">
          <li>
            <article><a href="#"><i class="fa fa-asterisk"></i></a>
              <h6 class="heading">Ut pharetra nisi eu massa</h6>
              <p>Nunc nec tincidunt turpis sed feugiat dui vestibulum euismod nunc sed vestibulum interdum&hellip;</p>
              <footer><a href="#">Read More &raquo;</a></footer>
            </article>
          </li>
          <li>
            <article><a href="#"><i class="fa fa-bar-chart"></i></a>
              <h6 class="heading">Pellentesque neque porttitor</h6>
              <p>Maecenas luctus sed nulla ac faucibus cras pellent esque neque vitae tincidunt tempus&hellip;</p>
              <footer><a href="#">Read More &raquo;</a></footer>
            </article>
          </li>
          <li>
            <article><a href="#"><i class="fa fa-paper-plane-o"></i></a>
              <h6 class="heading">Nulla lobortis ultrices nibh</h6>
              <p>Quisque sit amet tellus nunc praesent nunc augue, eleifend ac consequat sed egestas eu nunc&hellip;</p>
              <footer><a href="#">Read More &raquo;</a></footer>
            </article>
          </li>
        </ul>
      </div>
    </div>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  const product = document.getElementById("servicios");
  const primero = product.firstElementChild;
  const ultimo = product.lastElementChild;
  primero.classList.add("first");
  ultimo.classList.add("last");
</script>

{% endblock %}