{% extends "app/base.html" %}
{% load static %}

{% block titulo %}
Logout Users
{% endblock %}

{% block contenido %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2 bgded" style="background-image:url('../images/demo/backgrounds/01.png');">
  <div class="overlay">
    <div id="breadcrumb" class="clear"> 
      <!-- ################################################################################################ -->
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Users</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
      <!-- ################################################################################################ -->
    </div>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="container clear"> 
    <div class="content three_quarter"> 
        <h2>Logout Complete</h2>
          <div class="one_third first">
            <p>Has salido de la sesión correctamente.</p>
          </div>
          <div class="one_third ">
            <p>Volver al Inicio <a href="{% url 'inicio' %}"> Aquí </a></p>
          </div>
          <div class="one_third last">
            <p>Iniciar sesión nuevamente <a href="{% url 'login' %}"> Aquí </a></p>
          </div>
    </div>
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
{% endblock %}